//color palette
$color-bg:      #FFEAEE;
$color-bg-alt:  #decafc;
$color-font:    #27213C;
$color-accent1: #FE4A49;
$color-accent2: #2AB7CA;
$color-accent3: #FED766;
$color-accent4: #20BF55;
$color-accent5: #9e20d9;
$color-accent6: #fecb49;


@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&family=Lato&family=Oswald:wght@500&display=swap');

$font-title: 'Oswald', sans-serif;
$font-heading: 'Comfortaa', cursive;
$font-content: 'Lato', sans-serif;
