@import 'base/reset';
@import 'lib/functions';
@import 'lib/mixins';
@import 'vars';
@import 'components/nav';
@import 'components/home';
@import 'components/about';
@import 'components/resume';
@import 'components/projects';
@import 'components/project_card';

body {
  width: 100vw;
  background-color: $color-bg;
  color: $color-font;
  overflow-x: hidden;
  font-family: $font-content;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 23px;
  padding: 1rem;
  background-color: $color-bg;
}

main {
  padding-top: 55px;
}

.footer {
  font-size: 0.7rem;
  position: relative;
  top: 0;
  background-color: $color-accent4;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 0.5rem;

  .social-icons {
    padding: 0.5rem;
    display: inline !important;
    height: 25px;

    img {
      height: 100%
    }

  }
}


h1 {
  margin: 3.2rem 2rem;
  font-size: 3rem;
  font-family: $font-title;
}

h2 {
  font-size: 2rem;
  padding-bottom: 1rem;
  font-family: $font-heading;
} 

h3 {

  font-family: $font-heading;
}