@import 'base/reset';
@import 'lib/functions';
@import 'lib/mixins';
@import 'vars';
@import 'components/nav';
@import 'components/home';
@import 'components/about';
@import 'components/resume';
@import 'components/projects';
@import 'components/project_card';

.wrapper {
  width: 100vw;
  background-color: $color-bg;
  color: $color-font;
  overflow-x: hidden;
  font-family: $font-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  @include media-lg {
    overflow-x: scroll;
    overflow-y: hidden;
    width: auto;
    height: 100vh;
    align-items: flex-start;
    justify-content: space-evenly;
  }
}

.header {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 23px;
  padding: 1rem;
  background-color: $color-accent3;
  margin-left: 1rem;

  @include media-lg {
    margin: 0rem;
    top: 0;
  }
}

a {
  text-decoration: none;
  color: $color-accent5;
}

a:hover {
  color: $color-accent1;
  background-color: $color-accent3;
}


.main {
  width: 100%;
  margin: 55px 1rem 0 1rem;
  padding: 0 1rem;

  @include media-sm {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 500px;
  }

  @include media-md {
    width: 600px;
  }

  @include media-lg {
    margin-top: 0px;
    flex-direction: row;
    width: max-content;
    height: 70vh;
    justify-items: flex-start;
    margin: 0;
    padding: 0;
    overscroll-behavior-x: contain;
  }
}

.footer {
  font-size: 0.7rem;
  position: relative;
  top: 0;
  background-color: $color-accent4;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 0.5rem;
  width: 100vw;

  @include media-md {  
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .copyright {
      text-align: right;
      padding-right: 1rem;
    }
  }

  @include media-lg {
    position: absolute;
    top: auto;
    bottom: 0;
  }

  .social-icons {
    padding: 0.5rem;
    display: inline !important;
    height: 25px;
    img {
      height: 100%
    }
  }
}

h1 {
  margin: 3.2rem 2rem;
  font-size: 3rem;
  font-family: $font-title;
}

h2 {
  font-size: 2rem;
  padding-bottom: 1rem;
  font-family: $font-heading;
} 

h3 {
  font-family: $font-heading;
}