.about {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url('../img/pic02.jpg');
  background-size: cover;
  background-position: 50%;
  background-size: 100vh;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  @include media-lg {
    height: 100%;
    width: 750px;
    background-size: 100vw;
  }

  &_box {
    margin: 3rem 0;
    padding: 1rem;
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));

    @include media-lg {
      height: 100%;
      margin: 0 4rem;
      padding: 0 4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    
    p {
      padding-bottom: 0.5rem;
    }
  }

}