.home {
  background-color: $color-accent1;
  &_pic {
    height: 50vh;
    width: 100vw;
    overflow: hidden;
    background-image: url('/dist/img/pic01.jpg');
    background-size: cover;
    background-position: 50%;
    background-size: 100vw;

  }

  p {
    padding: 0 1.5rem 2rem 1.5rem;
    font-size: 1rem;
    color: $color-font;
  }
}