.nav-btn{
  position: absolute;
  z-index: 1;
  height: 28px;
  width: 28px;
  cursor: pointer;
  @include transition-ease;

  
  @include media-md {
    visibility: hidden;
  }

  .nav-burger {
    position: absolute;
    height: 3px;
    width: 28px;
    background-color: $color-accent1;
    border-radius: 15%;
    @include transition-ease;


    &::before {
      content: '';
      position: absolute;
      top: 10px;
      height: 3px;
      width: 28px;
      background-color: $color-accent1;
      border-radius: 15%;
      @include transition-ease;
    }

    &::after {
      content: '';
      position: absolute;
      top: 20px;
      height: 3px;
      width: 28px;
      background-color: $color-accent1;
      border-radius: 15%;
      @include transition-ease;
    }

    &.open {
      transform: rotate(720deg);
      background: transparent;

      &::before {
        transform: rotate(45deg);
        background-color: $color-accent2;
      }

      &::after {
        width: 28px;
        background-color: $color-accent2;
        transform: rotate(-45deg) translate(7px, -7px);
      }
    }
  }
}

.nav {
  position: top;
  top: 0;
  width: 100vw;
  visibility: hidden;
  
  @include media-md {
    visibility: visible;
  }

  &.open {
    visibility: visible;
  }

  .nav-menu {
    background-color: $color-bg;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: -1rem 0 0 -1rem;
    transform: translateY(-100%);
    @include transition-ease;

    @include media-md{
      background-color: $color-accent3;
      height: 55px;
      flex-direction: row;
      transform: translateY(0%);
      
      a {
        color: $color-accent1;
      }
    }

    @include media-lg {
      position: fixed;
      left: 0;
    }

    &.open {
      transform: translateY(0%);
    }

    &__item {
      transform: translateX(100vw);
      width: 100vw;
      text-align: center;
      border-top: 1px solid $color-bg-alt;
      @include transition-ease;
      
      &:first-child {
        border-top: 0;
        padding-top: 0;
      }
      
      @include media-md{
        transform: translateX(0);
        border-top: 0;
        border-left: 1px solid $color-accent6;
      }

      &.open {
        transform: translateX(0);
      }
    }

    &__link {
      display: inline-block;
      width: 100%;
      font-size: 2rem;
      text-transform: uppercase;
      padding: 2rem 0;
      font-weight: 300;
      @include transition-ease;

      &:hover {
        background-color: $color-bg-alt;
        color: $color-accent5;
        @include media-md {
          background-color: $color-accent6;
          color: $color-accent1;
        }
      }
    }
  }
}


@for $i from 1 through 4 {
  .nav-menu__item:nth-child(#{$i}){
    transition-delay: ($i * 0.1s)+ 0.15s;
  }
}