.projects {
  background-color: $color-accent3;
  padding: 1rem;
  height: 100%;
  @include media-lg {
    padding: 0;
  }
  &_container {
    display: flex;
    flex-direction: column;
    
    @include media-lg {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      box-sizing:  border-box;
      height: 60vh;
      width: 60vw;
      margin: 2rem;
    }
  }


  &_descript {
    padding: 1rem 1rem 2rem 1rem;
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.0));
    border-radius: 10px 10px 0 0;
    
    p {
      padding-bottom: 0.5rem;
    }

    @include media-lg {
      width: 30%;
      height: 70%;
      background-image: linear-gradient(to right ,rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.0));
      border-radius: 10px 0 0 10px;
      margin: 1rem 0;
      padding-left: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &_items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
    align-items: center;
    justify-items: center;

    @include media-sm {
      grid-template-columns: 1fr 1fr 1fr;
      
    }
  }

  &_item {
    a:hover {
      background-color: $color-accent1;
    }
    img {
      width: 100%;
      
      @include media-lg {
        height: 100px;
        width: auto;
      }
    }
  }
}