.projects {
  background-color: $color-accent3;
  padding: 1rem;

  &_container {
    display: flex;
    flex-direction: column;
  }

  &_descript {
    padding: 1rem 1rem 2rem 1rem;
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.0));
    border-radius: 10px 10px 0 0;

  }

  &_items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
    align-items: center;
    justify-items: center;
  }

  &_item {
    img {
      width: 100%;
    }
  }
}