.projects_gallery {
  // width: 100%;
  
  @include media-lg {
    height: 100%;
    display: flex;
    flex-direction: row;
  }

  .project_card {
    padding: 2rem;

    &_content {
      background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
      border-radius: 10px;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-items: center;

      @include media-lg {
        flex-direction: row;

        box-sizing: border-box;

        height: 100%;
        width: 100vh;
      }
    }

    &_info {
      @include media-lg {
        width: 65vh;
        height: 100%;
      }
    }

    .project_name {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 4rem;
      padding-bottom: 0.5rem;

      @include media-lg {
        margin: 1rem;
        padding-bottom: 0;
      }
      
      h3 {
        font-size: 1.5rem;

        .back {
          height: 1.5rem;
          transform: rotate(90deg);

          @include media-lg {
            transform: rotate(0deg);
          }
        }
      }

      img {
        padding-right: 1rem;
        height: 100%;
        @include media-lg {
          padding: 0;
        }
      }

    }
    p {
      padding-bottom: 0.5rem;
    }
    ul {
      padding: 1rem;

      @include media-lg {
        padding: 0;
        margin: 1rem;
      }
      li {
        border-top: 1px solid rgb(192, 151, 161);
        padding: 0.5rem 0;
        &:first-child {
          border-top: 0;
          padding-top: 0;
        } 
      }
    }

    &_pic {
      padding: 1rem;

      align-self: center;
      text-align: center;

      img {
        width: 35vh;
      }
    }

  }
}

@for $i from 1 through 6 {
  .project_card:nth-child(#{$i}){
    $p: $i*6;
    background-color: darken($color-bg, $p);

  }
}