.resume {
  background-color: $color-accent2;
  padding: 1rem;

  &_box {
    padding: 1rem;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    border-radius: 10px;
  }
  
  &_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &_list {
    padding: 0 2rem;  
  }

  &_items {
     list-style-type: square;
  }

  &_pdf {
    text-align: center;
    height: 15vh;
    padding-bottom: 1rem;

    img {
      padding: 1rem;
      height: 100%;
    }
  }
}